.jumbotron {
	background-image: url("../images/choping-onion.gif");
	text-align: center;
	background-size: cover;
}

.jumbotron h1,
.jumbotron p{
	color: white;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

body {
	background: url("../images/wood.jpg");
}

select {
	height: 31px;
}

.img-thumbnail{
	padding: 0;
}

a {
	color: black;
	font-weight: bold;
}

a:visited{
	color: black;
}

#search,
input,
select {
	color: black;
	font-size: 18px;
}
.j-background,
.food {
	background-color: rgba(0, 0, 0, .4);
}

.food {
	color: white;
}

#restaurants{
	float: left;
	width: 50%;
	text-align: right;
	border-right: 2px solid black;
	padding-right: 3%;
}

#recipes {
	float: left;
	width: 50%;
	padding-left: 3%;
	padding-right: 10%;
	border-left: 2px solid black;
}

#top{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}